.comment {
    font-size: small;
    font-weight: bold;
    color: black;
}

.comment p {
    font-weight: lighter;
    color: rgb(83, 81, 81);
}

.comment-btns {
    display: flex;
    gap: 10px;
}

.main-comment {
    display: flex;
    flex-direction: column;
}

.posts-btn {
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
    gap: 5px;
    width: auto;
    padding: 5px;
    cursor: pointer;
}


.posts-btn svg {
    width: 20px;
}

.like {
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
    gap: 5px;
    width: auto;
    padding: 5px;
    cursor: pointer;
}

.like svg {
    width: 20px;
    background-color: white;
    color: black;
    border: none;
}

/* .like svg.liked {
    stroke: red;
} */

.like-container {
    display: flex;
}

.show-comments {
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
    gap: 5px;
    width: auto;
    padding: 5px;
    cursor: pointer;
}

.show-comments svg {
    width: 20px;
}

.form {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid grey;
    padding: 10px;
}

.comment-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment a {
    text-decoration: none;
}

.del {
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
    gap: 5px;
    width: auto;
    padding: 5px;
    cursor: pointer;

}

.del svg {
    width: 20px;
    color: grey;
}

@media screen and (min-width: 700px) {
    div.post {
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2 {
    margin: 0;
    font-size: 1.8rem;

}

div.post p.info {
    margin: 6px 0;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

div.post p.info a.author {
    color: #333;

}

div.post p.summary {
    margin: 10px 0;
    line-height: 1.4rem;
}