/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

header nav {
    display: flex;
    gap: 15px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    flex: 1;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.username {
    font-weight: 300;
}

.logo {
    text-decoration: none;
    color: black;
}

.logout-btn {
    cursor: pointer;
}