.post-page {}

.title {
    text-align: center;
    margin: 10px 0 5px;
}

.time {
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}

.image {
    max-height: 200px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.image img {
    width: auto;
    height: 100%;
}

.content p {
    line-height: 1.6rem;
}

.edit-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: small
}

.edit-btn {
    background-color: white;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: black;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.delete-post-btn svg {
    width: 18px;
    gap: 10px;
}

a svg {
    height: 20px;
}